.footer {
	position: relative;
}
.map {
	width: 50%;
	position: absolute;
	left: 0;
	top: 0;
}
.contacts {
	flex-basis: 50%;
	padding-top: 100px;
	padding-left: 200px;
	&__title {
		font-size: 22px;
		line-height: 1.4;
		margin-bottom: 100px;
		.bold;
	}
	&__link {
		color: @text-color;
	}
	&-block {
		display: flex;
		justify-content: flex-end;
	}
	&-list {
		padding: 0;
		list-style: none;
		&__icon {
			width: 20px;
			height: 20px;
			line-height: 20px;
			text-align: center;
			margin-right: 23px;
		}
		&__item {
			display: flex;
			align-items: flex-start;
			margin-bottom: 39px;
		}
	}
}

// адаптив
@media (max-width: 1200px) {
	.contacts {
		padding-left: 50px;
	}
}
@media (max-width: 768px) {
	.map {
		position: static;
		width: 100%;
	}
	.contacts {
		width: 100%;
		padding-left: 0;
		padding-top: 40px;
		&__title {
			margin-bottom: 50px;
		}
		&-block {
		justify-content: center;
		padding-bottom: 50px;
		}
	}
	.footer {
		display: flex;
		flex-direction: column;
	}

}